<!--

<div class="main">
    <div class="item">
      <a href="/stock">
        <img src="../../assets/icon.png">
      </a>  
      Stock
    </div>
    <div class="item">
      <a href="/orders">
        <img src="../../assets/icon.png">
      </a>  
      Orders
    </div>
    <div class="item">
      <a href="/workers">
        <img src="../../assets/icon.png">
      </a>  
      Workers
    </div>
</div>
-->
  <aside class="menu left_panel">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a [class.is-active]="label == 0" href="/stock">Stock</a></li>
      <li><a [class.is-active]="label == 1" href="/orders">Orders</a></li>
      <li><a [class.is-active]="label == 2" href="/workers">Workers</a></li>
    </ul>
  </aside>